# Database (Railway PostgreSQL)
DATABASE_URL="postgresql://postgres:YqdstHKOeMCMDINqGdcyTyGYtMrKSxFb@yamanote.proxy.rlwy.net:10432/railway"

# NextAuth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth (console.cloud.google.com)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
